@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
:root{
    --primary-color:#F78F7D;
    --secondary-color:#F6BCAD;
    ---info-color:#FFDCD4;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    position: relative;
    height: 83px;
    width: 100%;
}
nav{
    height: 83px;
    width: 100%;
    padding: 20px 0;
}
.brand{
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    margin-left: 20px;
    color: #222;
    font-weight: 900;
    text-transform: capitalize;
}
.brand-txt{
    color: var(--primary-color);
}
.navigation-bar ul{
    margin: 0;
    padding: 0;
}
.navigation-bar ul li{
    display: inline-block;
    margin: 0 20px;
}
.navigation-bar ul li a{
    color: #222;
    font-weight: 600;
    text-transform: capitalize;
}
.navigation-bar ul li:last-child{
    margin-right: 0;
}
.navigation-bar ul li a:hover{
   color: var(--primary-color);
   border-bottom: 1px solid var(--secondary-color);
}
.navigation-bar .btn{
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 4px;
}

.navigation-bar a.btn:hover{
    background-color: var(--primary-color);
    color: white;

}
.burger{
    width: 25px;
    cursor: pointer;
    display: none;
}
.burger span{
    display: block;
    height: 3px;
    width: 100%;
    margin-bottom: 3px;
    background-color: var(--primary-color);
}
footer{
    
    padding: 20px;
    background-color: #F6BCAD;
    text-align: center;
    color: #222;
}
@media (min-width: 991px) {
    .navigation-bar{
      display: block!important;
    }   
}
@media (max-width: 991px) {
  .burger{
    display: block;
    right: 20px;
    position: absolute;
  }
  .navigation-bar{
    display: none;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    background-color: var(---info-color);
    padding: 20px 0;
    text-align: center;
    justify-content: center;
    z-index: 2;
  }
  .navigation-bar ul{
    display: block;
    margin: 14px 0;
  }
  .navigation-bar ul li{
    display: block;
    margin: 20px;
  }
  .navigation-bar ul li a.btn:hover{
    background-color: var(--primary-color);
    color: white;
  }
 .navigation-bar.active{
    display: flex;
 }
}

#home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    min-width: 100%;
}
#home-content h2{
    font-size: 40px;
    margin-bottom: 0;
}
#home-content h2 span{
    color: var(--primary-color);
}
#home-content p{
    font-size: 19px;
    margin-bottom: 20px;
}
#home-content img{
    width: 500px;
    height: 500px;
}
#home-content .btn{
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-weight: 700;   
}
#home-content .btn:hover{
    background-color: var(--primary-color);
    color: white;
}
@media (max-width: 767px){
    #home-content{
        flex-direction: column-reverse;
    }
    #home-content .content-right{
        position: relative;
        top: 5%;
        left: 0;
    }
    

    #home-content img{
    width: 200px;
    height: 300px;
    margin-bottom: 0;
    }
    .content-left{
        text-align: center;
        margin-top: 40px;

    }
    #home-content h2{
        font-size:30px;
        margin-bottom: 0;
    }


}

.about h1{
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
}
#about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    min-width: 100%;
}
#about-content h2{
    font-size: 40px;
    margin-bottom: 0;
    margin-left: 10px;
}
#about-content h2 span{
    color: var(--primary-color);
    font-family: 'Permanent Marker', cursive;
    
}
#about-content p{
    margin-left: 10px;
    font-size: 19px;
    margin-bottom: 20px;
}
#about-content img{
    width: 500px;
    height: 500px;
}
#about-content .btn{
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-weight: 700;   
}
#about-content .btn:hover{
    background-color: var(--secondary-color);
    color: white;
}
@media (max-width: 767px){
    #about-content{
        flex-direction: column-reverse;
    }
    #about-content .content-right{
        position: relative;
        top: 5%;
        left: 0;
    }
    

    #about-content img{
    width: 400px;
    height: 400px;
}

.about-right{
    margin-top:30%;
    justify-content: center;
    text-align: center;
}
#about-content h2{
    font-size:30px;
    margin-bottom: 0;
}
#about-content p{
    
    margin-bottom: 12px;
}
footer{
    margin-top: 20%;
    padding: 20px;
    background-color: #F6BCAD;
    text-align: center;
    color: #222;
}

}

/* contact us */



